.newsPaper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45vh;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.newsHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.newsHeaderTitle {
  max-width: 70%; /* Adjust the percentage as needed */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.articleContent {
  margin-top: 65px;
  flex-grow: 1;
  margin-left: 5px;
}

.readMoreButton {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.articleImage {
  width: 100%;
  height: auto;
}

.blurredBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.65
  ); /* Adjust the alpha value for the darkness level */
  z-index: 999;
}

.newsBackground {
  padding: 0;
  height: auto;
  width: auto;
  background-color: rgba(128, 55, 73, 0.3);
}

.displayLinebreak {
  white-space: pre-line;
}
